@import "../../../../assets/styles/media-queries";

.avis{
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  .listAvis{
    //background: red;
    margin: 7rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .card{
      max-width: 33rem;
      padding: 1rem 0;
      cursor: pointer;
      .author{
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        .authorImg{
          width: 6rem;
          height: 6rem;
          overflow: hidden;
          border-radius: 100%;
          display: flex;
          align-items: stretch;
          justify-content: stretch;
        }
        .authorContent{
          margin-left: 1rem;
          .authorName{
            margin: 0;
            color: var(--blue-secondary);
            font-size: 1.6rem;
            letter-spacing: 0.1rem;
            font-family: 'open_sansregular';
          }    
        }
      }    
      transition: all ease 0.1s;
      &:hover{
        transition: all ease 0.2s;
        transform: scale(1.03); 
      }
    }
  }  
}