.footer{
  .footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid var(--text);
    padding: 1rem 0;
    .socials{

      img:nth-child(2){
        padding: 0 1rem;
      }
    }
    p{
      font-family: var(--OpenSans-Regular);
      font-size: 1.8rem;
    }
  }
}