@import '../../../../assets/styles/media-queries';
.banner{
  position: relative;
  min-height: 100vh;
  .bannerText{
    h1{
      font-family: 'be_vietnamsemibold';
      font-size: 3rem;
      letter-spacing: 0.4rem;
      color: var(--text-primary);
      line-height: 4.2rem;    
      padding-left: 0;
    }
    @include md{
      align-items: center;
      h1{
        text-align: center;
      }
      p{
        text-align: center;
      }
    }  
    @include sm{
      align-items: center;
      h1{
        text-align: center;
      }
      p{
        text-align: center;
      }
    }  
    @include xs{
      align-items: center;
      h1{
        text-align: center;
      }
      p{
        text-align: center;
      }
    }    
  }
  &::before{
    content: "";
    position: absolute;
    width: 58%;
    height: 100%;
    right: 0;
    bottom: 1rem;
    background:url(../../../../assets/images/bg-1.png) no-repeat;
    background-size: cover;
    background-position: 2rem -42rem;
    @include xl{
      background-position: 0rem -28rem;

    }
    @include l{
      background-position: 0rem -20rem;
    }
    @include md{
      display: none;
    }
    @include sm{
      display: none;
    }
    @include xs{
      display: none;
    }
  }
}