.footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  line-height: 3rem;
  font-family: var(--vietnam-ExtraBold);
  ul{
    display: flex;
    flex-flow: row nowrap;
    li{
      padding: 2rem;
      a{
        font-size: 1.6rem;
        font-weight: 800;
        color: var(--blue);
      }
    }
  }
  p{
    font-size: 1.6rem;
    color: var(--blue); 
  }
}