@import '../../assets/styles/media-queries';

.bg-red{
  background: red;
}



/* classes */
.container{
  max-width: 1158px !important;
  margin: 0 auto;
}
.paragraphe{
  font-family: 'robotoregular';
  color: var(--blue-secondary);
  &-primary{
    font-size: 2.4rem;
    line-height: 3.6rem;  
    max-width: 43.5rem;
  }
  &-secondary{
    font-size: 1.2rem;
    line-height: 2.4rem;
    &::before{
      content: "";
      display: inline-block;
      width: 3rem;
      height: 2.6rem;
      background: url(../images/quote1.png);
      margin-right: 1rem;
    }
  }

}
.text-expertise{
  color: var(--text-secondary);
  font-size: 1.6rem;
  font-weight: 600;
}
.text-portfolio{
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 2.8rem;
}
button.btn{
  border-radius: 1rem;
  padding: .9rem 4.4rem;
  margin-top: 2rem;
  font-size: 2.4rem;
  line-height: 4rem;
  border: 0.1rem solid transparent;
  font-family: 'be_vietnammedium';
  cursor: pointer;
  box-shadow: none;
  color: var(--white);
  background: var(--orange);
  max-width: 30rem;
  &:hover, &:focus{
    background: var(--orange);
    border: .1rem solid var(--orange);
    color: var(--white);
  }

}
.underline{
  width: 25.8rem;
  height: 0.3rem;
  background: var(--orange);
  margin: 3rem 0;
}
.titre{
  color: var(--gray-title);
  font-size: 7.2rem;
  text-align: center;
  font-family: 'be_vietnamextrabold';

  @include sm{
    font-size: 6rem;
  }
  @include xs{
    font-size: 3.6rem;
  }
}
.titre-newsletter{
  color: var(--white);
  font-weight: 800;
  font-size: 5.8rem;
  text-align: center;
}
.titre-secondary{
  font-size: 3.6rem;
  font-family:'bahnschrift';
  line-height: 3.6rem;
  font-weight: 100;
  margin: 0;
  margin: 2rem 0; 
  color: var(--blue-secondary);
}
.text-center{
  text-align: center;
}

.active{
  background: var(--orange);
  border-radius: 1rem;
  color: var(--white) !important;
}

