
:root{
  --text-primary:#01204d;
  --text-secondary:#046ccd;
  --orange:#f9aa00;
  --gray: #f6f6f6;
  --gray-light:#f3f3f4;
  --gray-title: #dbdada;
  --white:#ffffff;
  --blue:#046ccd;
  --socials:#0785cc;
  --blue-secondary:#0b2750;
  --text:#000;
  --vietnam-ExtraBold: 'Be Vietnam ExtraBold', sans-serif;
  --vietnam-SemiBold: 'Be Vietnam SemiBold', sans-serif;
  --vietnam-Medium: 'Be Vietnam Medium', sans-serif;
  --Bahnschrift: 'Bahnschrift';
  --Robot-Regular: 'Robot Regular', sans-serif;
  --OpenSans-Regular: 'Open Sans', sans-serif;
  --OpenSans-SemiBold: 'Open Sans SemiBold', sans-serif;
  --joumhouria: 'Jomhuria', cursive;
  --shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

}

